.products {
  background: #fff;
  padding-top: 60px;

  @media (max-width: 767px) {
    display: none;
    padding-top: 30px;
  }

  &-wrap {
    display: flex;
    justify-content: center;
  }

  &__box {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__img {
    height: 450px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
  }

  &__desc {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__price {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
  }

  &__btn {
    &_more {
      cursor: pointer;
      color: #ffffff;
      background-color: #234c64;
      padding: 12px 30px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      transition: all 0.3s ease-in-out;
      text-transform: capitalize;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}


.products-mobile {
  display: none;

  @media (max-width: 767px) {
    display: block; 
  }
}

// .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
//   background: #234c64 !important;
// }

.inimate-hand {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0px 5px 0px;
  
  img {
    width: 10%;
    height: auto;
  }
}

.swiper-scrollbar-drag {
  background: rgb(35, 76, 100) !important;
}