.products {
  &-wrap {
    display: flex;
    justify-content: center;
  }

  &__box {
  }

  &__img {
    height: 450px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
  }

  &__desc {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__price {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
  }

  &__btn {
    &_more {
      cursor: pointer;
      color: #ffffff;
      background-color: #234c64;
      padding: 12px 30px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      transition: all .3s ease-in-out;
      text-transform: capitalize;

      &:hover {
          opacity: .9;
      }
    }
  }
}
